<div class="header">
  
  <div class="container">
    <a href="#home" class="logo">
      Profesionales Web
    </a>
    <div class="navbar">
      <a [routerLink]="['home']">	<mat-icon>home</mat-icon>Inicio</a>
      <a [routerLink]="['datos']">	<mat-icon>description</mat-icon>Datos</a>
       <a [routerLink]="['contacto']">	<mat-icon>question_answer</mat-icon>Contacto</a>
       <a [routerLink]="['agenda']"><mat-icon>supervisor_account</mat-icon>Agenda</a>
    </div>
    <a href="#" class="hamb"><i class="fa-solid fa-bars"></i></a>
  </div>
</div>

