<div class="container" id="menu1">
  <h1 class="form-title">Datos personales</h1>
  <div class="fondo">
    <div class="info">
      <h2>
        FORMACION ACADEMICA
      </h2>
      <ul>
        <li>
          <strong>Modelaje</strong>
            <ul>
              <li>
                <p>Escuela de modelaje Merak</p>
                <p>(2022-Presente)</p></li>
            </ul>
        </li>
        <li>
          <strong>Peluqueria</strong>
          <ul>
            <li>
              <p>Instituto de belleza Copacabana</p>
              <p>(2022-Presente)</p>
            </li>
          </ul>
        </li>
        <li>
          <strong>Secundaria</strong>
          <ul>
            <li>
              <p>Republica de Venezuela</p>
              <p>(2015-2019)</p>
            </li>
          </ul>
        </li>
        <li>
          <strong>Primaria</strong>
          <ul>
            <li>
              <p>Escuela Antofagasta</p>
              <p>(2009-2014)</p>
            </li>
          </ul>
        </li>
        
        
      </ul>
    </div>
  </div>

  <div class="fondo2">
    <div class="lado-der">
      <h2>
        EXPERIENCIA LABORAL
      </h2>
      <ul>
        <li>Modelo en formación</li>
        <li>Desfile de ropa Zazie</li>
        <li>Desfile de ropa vintage (Feria Vintage)</li>
        <li>Sesion de fotos con la Escuela Merak</li>
        <li>Atención al cliente</li>
        <li>Ventas de alimentos</li>
        <li>Modelo de peinados (Instituto Copacabana)</li>
        <li>Sesión de fotos con Luis</li>
        <li>Desfile de Pretty Woman</li>
      </ul>
    </div>
  </div>

  <div class="fondo">
    <div class="info">
      <h2>
        HABILIDADES
      </h2>
      <ul>
        <li>
          <h4>Habilidades duras</h4>
        </li>
        <ul>
            <li>Bailarina de Danza moderna</li>
            <li>Manicura y pedicura</li>
            <li>Estilista</li>
            <li>Peluqueria</li>
        </ul>
        <li>
          <h4>Habilidades blandas</h4>
        </li>
        <ul>
            <li>Responsabilidad</li>
            <li>Empatía</li>
            <li>Determinacion</li>
            <li>Extravertida</li>
            <li>Trabajo en equipo</li>
        </ul>
      </ul>
    </div>
  </div>

  <div class="fondo2">
    <div class="lado-der">
      <h2>
        INFORMACION ADICIONAL
      </h2>
      <ul>
        <li> <b>Español:</b> Nativo</li>
        <li><b>Ingles:</b>Basico</li>

      </ul>
    </div>
  </div>
</div>
